<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         testdox="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="MySQL Dump Producer Tests">
            <directory>MySQLDumpProducer</directory>
        </testsuite>
        <testsuite name="File Sync Producer Tests">
            <directory>FileSyncProducer</directory>
            <exclude>FileSyncProducer/fixtures</exclude>
        </testsuite>
        <testsuite name="Import Tests">
            <directory>Import</directory>
        </testsuite>
        <testsuite name="URL Rewriting Tests">
            <directory>UrlRewriting</directory>
        </testsuite>
        <testsuite name="Export Utility Tests">
            <file>BuildPdoDsnTest.php</file>
            <file>ExporterCompatibilityUtilitiesTest.php</file>
            <file>CreateDbConnectionTest.php</file>
            <file>PushCommitTest.php</file>
            <file>ExportHttpServerTest.php</file>
            <file>WindowsPathAccessTest.php</file>
            <file>ExportResolveDirectoriesTest.php</file>
            <file>FileIndexDedupTest.php</file>
            <file>FileIndexSkipDefaultsTest.php</file>
            <file>FileIndexProcessorTest.php</file>
            <file>FileIndexFilePathRootTest.php</file>
            <file>FileIndexNamedRootTest.php</file>
            <file>ExportLibraryLoadTest.php</file>
            <file>ExportUtilsLoadingTest.php</file>
            <file>PdoConstantsTest.php</file>
            <file>JoinUnixPathsTest.php</file>
            <file>HmacServerTest.php</file>
            <file>MultipartProcessorTest.php</file>
            <file>PushEndpointsTest.php</file>
            <file>ReprintServerPluginTest.php</file>
            <file>ReprintServerCompatTest.php</file>
            <file>PushSessionTest.php</file>
        </testsuite>
        <testsuite name="Query Stream Tests">
            <file>NaiveQueryStreamTest.php</file>
        </testsuite>
    </testsuites>
    <php>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_USER" value="root"/>
        <env name="DB_PASS" value="my-secret-pw"/>
        <env name="DB_NAME" value="test_mysql_dump"/>
    </php>
</phpunit>
